# Prerequisites
*.d
*.o
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vscode/*
.vscode/*.*

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Build output
build/
bin/
obj/

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Misc
.DS_Store
.vscode/tasks.json
03_DFS/HW_02_4M/tmp.txt
VSCode_a.bat
test.*
03_DFS/HW_02_4M/test.cpp
.clang-format
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
